@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.accessibility-text {
  position: absolute;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

.logo {
  font-weight: 600;
  color: rgb(238, 169, 40);
  font-size: larger;
  font-family: cursive;
}

footer {
  bottom: 0;
  width: 100%;
}